language: php
os: linux
dist: bionic
jobs:
  include:
    - php: 7.2
      env: PU_FILE=57

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-source
  - chmod +x tests/*.sh


script:
  - ./tests/py-${PU_FILE}.sh

after_success:
  - travis_retry php vendor/bin/php-coveralls -v
